.img-wrapper {
  display: inline-block;
  width: 40%;
  padding: 10px 15px;
}
.img-wrapper img {
  width: 100%
}

.black-bg {
  background-color: black;
}

/* change the SVG graphic artwork with css! */
/*#lGrain:hover, #rGrain:hover {
  fill: red;}*/

#beerGraphic:hover #lGrain {
  fill: red;
}
#beerGraphic:hover #rGrain {
  fill: red;
}
#beerGraphic:hover #lStar {
  fill: yellow;
}
#beerGraphic:hover #rStar {
  fill: yellow;
}
